.example.example1 {
  background-color: #6772e5;
}

.example.example1 * {
  font-family: Roboto, Open Sans, Segoe UI, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.example.example1 fieldset {
  margin: 0 15px 20px !important;
  padding: 0 !important;
  border-style: none !important;
  background-color: #7795f8 !important;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff !important;
  border-radius: 4px !important;
}

.example.example1 .row {
  display: -ms-flexbox  !important;
  display: flex  !important;
  -ms-flex-align: center  !important;
  align-items: center  !important;
  margin-left: 15px  !important;
}

.example.example1 .row + .row {
  border-top: 1px solid #819efc  !important;
}

.example.example1 label {
  width: 15% !important;
  min-width: 70px  !important;
  padding: 11px 0  !important;
  color: #c4f0ff  !important;
  overflow: hidden  !important;
  text-overflow: ellipsis  !important;
  white-space: nowrap  !important;
}

.example.example1 input, .example.example1 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example1 input:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example1 .StripeElement {
  width: 100% !important;
  padding: 11px 15px 11px 0 !important;
}

.example.example1 input {
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #fff;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 input::-webkit-input-placeholder {
  color: #87bbfd;
}

.example.example1 input::-moz-placeholder {
  color: #87bbfd;
}

.example.example1 input:-ms-input-placeholder {
  color: #87bbfd;
}

.example.example1 .s_btn {
  display: block !important;
  width: calc(100% - 30px)  !important;
  height: 40px  !important;
  margin: 40px 15px 0  !important;
  background-color: #f6a4eb  !important;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6  !important;
  border-radius: 4px  !important;
  color: #fff  !important;
  font-weight: 600  !important;
  cursor: pointer  !important;
}

.example.example1 .s_btn:active {
  background-color: #d782d9  !important;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8  !important;
}

.example.example1 .error svg .base {
  fill: #fff;
}

.example.example1 .error svg .glyph {
  fill: #6772e5;
}

.example.example1 .error .message {
  color: #fff;
}

.example.example1 .success .icon .border {
  stroke: #87bbfd;
}

.example.example1 .success .icon .checkmark {
  stroke: #fff;
}

.example.example1 .success .title {
  color: #fff;
}

.example.example1 .success .message {
  color: #9cdbff;
}

.example.example1 .success .reset path {
  fill: #fff;
}
